<a href="https://colab.research.google.com/github/RDEENA/simple_calculator/blob/main/SPAM_HAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#SVM - SUPPORT VECTOR MACHINE(SIMLAR TO LOGISTIC REGRESSION)

In [ ]:
s = ['Congrats ,You have won lottery and if you want lottery money,call the lottery number and get your money',
     'Give your bank details for lottery money',
     'lottery for sure if bank details are verified']

In [ ]:
type(s)

list

In [ ]:
s[1].split()
#tokenization - (creating of tokens )

['Give', 'your', 'bank', 'details', 'for', 'lottery', 'money']

In [ ]:
#1.CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(stop_words='english')
op = vect.fit_transform(s).toarray()#we are converting our sentence into numbers,so that sklearn understands it
#stopwords are english words ,which do not add much meaning to the sentence.

In [ ]:
vect

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [ ]:
op

array([[0, 1, 0, 3, 2, 1, 0, 0, 1, 1],
       [1, 0, 1, 1, 1, 0, 0, 0, 0, 0],
       [1, 0, 1, 1, 0, 0, 1, 1, 0, 0]])

In [ ]:
import pandas as pd
df = pd.DataFrame(op,columns = vect.get_feature_names())
df

   bank  congrats  details  lottery  money  number  sure  verified  want  won
0     0         1        0        3      2       1     0         0     1    1
1     1         0        1        1      1       0     0         0     0    0
2     1         0        1        1      0       0     1         1     0    0

In [ ]:
#TFIDF - TERM FREQUENCY - INVERSE DOCUMENT FREQUENCY

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer(stop_words = 'english')
op = vect.fit_transform(s).toarray()
df = pd.DataFrame(op,columns = vect.get_feature_names())
df

       bank  congrats   details  ...  verified      want       won
0  0.000000  0.325248  0.000000  ...  0.000000  0.325248  0.325248
1  0.526820  0.000000  0.526820  ...  0.000000  0.000000  0.000000
2  0.406192  0.000000  0.406192  ...  0.534093  0.000000  0.000000

[3 rows x 10 columns]